<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설 제목 - 회차 등록</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/form.js}"></script>
    <script th:src="@{/js/novel/novelForm.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>
    
    <section class="flex justify-center align-center">
        <form id="postForm" class="pd-md flex flex-column gap-sm">
            <input type="text" name="titleInput" placeholder="소제목">
            <textarea name="contentInput" placeholder="본문"></textarea>
            <textarea name="writerCommentInput" placeholder="작가의 말" style="height: 100px;"></textarea>
            <div class="btnsWrap"> <button type="button" class="btn" onclick="subEpisode()">등록</button> </div>
        </form>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>