<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'BLANKSPACE - ' + ${novelCard.name} + ' - ' + ${episode.displayNo} + '화'"></title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/form.js}"></script>
    <script th:src="@{/js/global/comment.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9549573296249923" crossorigin="anonymous"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <div class="postConetentWarp pd-md">
            <div class="postInfo">
                <p class="text1" th:text="${episode.displayNo} + '화'"></p>
                <p class="title2Text bold" th:text="${episode.name}"></p>
                <p class="text1 black2" th:text="${#temporals.format(episode.createdAt, 'yyyy.MM.dd.')}"></p>
            </div>
            <div class="postConetent" th:utext="${episode.content}"></div>
            <p class="title3Text bold" style="margin-top: 30px;" th:if="${episode.writerComment != null and !#strings.isEmpty(episode.writerComment)}">작가의 말</p>
            <div class="postConetent" style="min-height: 100px;"
            th:if="${episode.writerComment != null and !#strings.isEmpty(episode.writerComment)}"
            th:utext="${episode.writerComment}">
            </div>
            <div class="btnsWrap" sec:authorize="hasRole('ADMIN')">
                <a class="btn" th:href="@{/novel/{novelId}/episode/{episodeId}/edit(novelId=${novelId}, episodeId=${episode.id})}">
                    수정
                </a>
                <form th:action="@{/novel/{novelId}/episode/{episodeId}/delete(novelId=${novelId}, episodeId=${episode.id})}"
                method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');" style="display:inline">
                    <button type="submit" class="btn">삭제</button>
                </form>
            </div>
        </div>
        <div class="btnsWrap post">
            <a class="btn" th:if="${prevEpisode != null}"
            th:href="@{/novel/{novelId}/episode/{episodeId}(novelId=${novelId}, episodeId=${prevEpisode.id})}">
                이전화
            </a>
            <span class="btn disabled" th:if="${prevEpisode == null}">첫 화</span>
            <a class="btn" th:href="@{/novel/{novelId}(novelId=${novelId})}">목록으로</a>
            <a class="btn" th:if="${nextEpisode != null}"
            th:href="@{/novel/{novelId}/episode/{episodeId}(novelId=${novelId}, episodeId=${nextEpisode.id})}">
                다음화
            </a>
            <span class="btn disabled" th:if="${nextEpisode == null}">마지막 화</span>
        </div>
        <div th:replace="fragments/comment :: commentMenu('episode', ${episode.id})"></div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>