<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${mode == 'EDIT' ? 'BLANKSPACE - 회차 수정' : 'BLANKSPACE - 회차 등록'}"></title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/form.js}"></script>
    <script th:src="@{/js/novel/novel.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9549573296249923" crossorigin="anonymous"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>
    
    <section class="flex justify-center align-center">
        <form id="postForm" class="pd-md flex flex-column gap-sm" th:action="${formAction}" method="post">
            <input type="text" name="name" placeholder="소제목" th:value="${form.name}">
            <textarea name="content" placeholder="본문" data-tinymce th:text="${form.content}"></textarea>
            <textarea name="writerComment" placeholder="작가의 말" style="height: 100px;" data-tinymce th:text="${form.writerComment}"></textarea>
            <div class="btnsWrap"> <button type="button" class="btn" onclick="subEpisode()">등록</button> </div>
        </form>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>