<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설 제목 - 설정</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <div id="novelIntro"></div>
        <a class="btn" style="width: 100%;">설정 보기</a>
        <div class="list">
            <div class="chapter">
                <div class="chapterTitle text1 text-center white1">챕터명</div>
                <a class="episode">
                    <p class="text1">3화</p>
                    <p class="text1 black2">YYYY.MM.DD. · 5000자</p>
                </a>
                <a class="episode">
                    <p class="text1">2화</p>
                    <p class="text1 black2">YYYY.MM.DD. · 5000자</p>
                </a>
            </div>
            <div class="chapter">
                <div class="chapterTitle text1 text-center white1">챕터명</div>
                <a class="episode">
                    <p class="text1">1화</p>
                    <p class="text1 black2">YYYY.MM.DD. · 5000자</p>
                </a>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>