<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'BLANKSPACE - ' + ${novelCard.name}"></title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9549573296249923" crossorigin="anonymous"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <div th:replace="fragments/novelIntro :: novelIntro(${novelCard})"></div>
        <a class="btn" style="width: 100%;" th:href="@{/novel/{novelId}/world(novelId=${novelId})}">
            설정 보기
        </a>
        <div class="list">
            <div class="chapter" th:each="ch : ${chapterGroups}">
                <div class="chapterTitle text1 text-center white1" th:text="${ch.chapterTitle}"></div>
                <a class="episode" th:each="ep : ${ch.episodes}"
                th:href="@{/novel/{novelId}/episode/{episodeId}(novelId=${novelId}, episodeId=${ep.id})}">
                    <p class="text1" th:text="${ep.displayNo} + '화'"></p>
                    <p class="text1 black2" th:text="${#temporals.format(ep.createdAt, 'yyyy.MM.dd.')}"></p>
                </a>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>