<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 게시판</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/board/board.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <p class="title1Text bold text-center boardName">게시판 이름</p>
        <div class="categoryMenu">
            <div class="categories flex justify-end">
                <button class="category now">· 전체 보기</button>
                <button class="category">· 카테고리</button>
                <button class="category" onclick="toggleForms()">· 카테고리 편집</button>
            </div>
            <div class="forms grid-row gap-sm">
                <form name="categoryForm" class="flex flex-column gap-xs">
                    <input name="categoryInput" type="text" placeholder="추가할 카테고리 입력">
                    <button class="btn" type="button" onclick="addCate()">카테고리 추가</button>
                </form>
                <form name="categoryForm" class="flex flex-column gap-xs">
                    <select>
                        <option value="" disabled selected>제거할 카테고리 선택</option>
                        <option>카테고리</option>
                    </select>
                    <button class="btn" type="button" onclick="deleteCate()">카테고리 제거</button>
                </form>
                <form name="categoryForm" class="grid gap-sm">
                    <select>
                        <option value="" disabled selected>변경할 카테고리 선택</option>
                        <option>카테고리</option>
                    </select>
                    <input name="categoryInput" type="text" placeholder="변경 후 카테고리 입력">
                    <button class="btn" type="button" onclick="editCate()">카테고리 편집</button>
                </form>
            </div>
        </div>
        <a class="btn" style="width: 100%;">글쓰기</a>
        <div class="ad"></div>
        <div class="postList grid gap-lg">
            <a class="card pd-md">
                <img class="thumbnail" src="/img/thumbnail_default.png">
                <p class="title2Text text-center bold">제목</p>
                <p class="text1 text-center">부제목</p>
            </a>
            <a class="card pd-md">
                <img class="thumbnail" src="/img/thumbnail_default.png">
                <p class="title2Text text-center bold">제목</p>
                <p class="text1 text-center">부제목</p>
            </a>
        </div>
        <div class="ad"></div>
        <div class="pages flex justify-center gap-sm" data-pagination></div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>