<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 게시글 제목</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/comment.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <div class="ad"></div>
        <div class="postConetentWarp pd-md">
            <div class="postInfo">
                <p class="text1">카테고리</p>
                <p class="title2Text bold">제목</p>
                <p class="text1">부제목</p>
                <p class="text1 black2">GIT - <a class="black2" target="_blank">https://github.com/사용자/저장소</a></p>
                <p class="text1 black2">YYYY.MM.DD. HH:MM</p>
            </div>
            <div class="postConetent"> 내용 </div>
            <div class="btnsWrap">
                <a class="btn">수정</a>
                <button class="btn">삭제</button>
            </div>
        </div>
        <div class="btnsWrap post">
            <a class="btn">이전 글</a>
            <a class="btn">목록으로</a>
            <a class="btn">다음 글</a>
        </div>
        <div class="ad"></div>
        <div id="commentMenu"></div>
        <div th:replace="fragments/comment :: commentMenu"></div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>