<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 게시글 작성</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/form.js}"></script>
    <script th:src="@{/js/board/postForm.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column justify-center align-center">
        <form id="postForm" class="pd-md flex flex-column gap-sm" th:action="@{/board/{boardName}/write(boardName=${boardName})}" method="post">
            <div class="postInfo flex flex-column gap-xs">
                <div class="inputs flex flex-column-mov gap-xs">
                    <select class="select" name="categoryId">
                        <option th:each="c : ${categories}" th:value="${c.categoryId}" th:text="${c.name}" name="categoryId"></option>
                    </select>
                    <input type="text" name="postTitle" placeholder="제목">
                </div>
                <input type="text" name="postSubTitle" placeholder="부제목">
                <input type="text" name="postDtlLink" placeholder="GIT 링크" th:if="${boardName == 'PORTFOLIO'}"/>
                <div class="inputs flex flex-column-mov gap-xs">
                    <input type="text" name="imgNameInput" placeholder="썸네일" readonly>
                    <button class="btn select" type="button" onclick="imgInputControll()">썸네일 업로드</button>
                    <input type="hidden" name="postThumbUrl">
                    <input type="file" name="imglInput" accept="image/*" hidden>
                </div>
            </div>
            <textarea name="postContent" data-tinymce></textarea>
            <div class="btnsWrap"> <button type="button" class="btn" onclick="subPost()">등록</button> </div>
        </form>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>