<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 회원 정보</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body th:attr="data-user-id=${userInfo.user.userId}" class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-xl">
        <p class="title1Text bold text-center">회원 정보</p>
        <a class="card pd-md user flex flex-column gap-sm">
            <button class="btn block" sec:authorize="hasRole('ADMIN')" th:if="${!userInfo.blocked}" type="button" onclick="toggleBlock(this)">
                차단
            </button>
            <button class="btn block" sec:authorize="hasRole('ADMIN')" th:if="${userInfo.blocked}" type="button" onclick="toggleBlock(this)">
                차단 해제
            </button>
            <div class="userInfo flex flex-column-mov gap-sm">
                <p class="title3Text bold">닉네임</p>
                <p class="title3Text" th:text="${userInfo.user.userName}"></p>
                <form name="nameForm" class="flex flex-column-mov gap-sm" th:if="${isSelf}" sec:authorize="isAuthenticated()">
                    <input type="text" name="name">
                    <button class="btn" type="button" onclick="editName(this)">저장</button>
                </form>
                <button class="btn" onclick="nameToggle(this)" th:if="${isSelf}" sec:authorize="isAuthenticated()">변경</button>
            </div>
            <div class="userInfo flex flex-column-mov gap-sm">
                <p class="title3Text bold">ID</p>
                <p class="title3Text" th:text="${userInfo.user.userId}">ID</p>
            </div>
            <div class="userInfo flex flex-column-mov gap-sm">
                <p class="title3Text bold">MAIL</p>
                <p class="title3Text" th:text="${userInfo.user.userMail}"></p>
            </div>
            <div class="userInfo flex flex-column-mov gap-sm">
                <p class="title3Text bold">가입일</p>
                <p class="title3Text" th:text="${#temporals.format(userInfo.userDate, 'yyyy.MM.dd.')}"></p>
            </div>
            <div class="userInfo flex flex-column-mov gap-sm" th:if="${userInfo.blocked}">
                <p class="title3Text bold">차단 사유</p>
                <p class="title3Text" th:text="${userInfo.blockedReason}"></p>
            </div>
        </a>
        <div class="activityMenu flex flex-column gap-sm" th:if="${isSelf} or ${#authorization.expression('hasRole(''ADMIN'')')}">
            <p class="title3Text text-center bold">로그인 기록</p>
            <div class="activities" id="loginLogList">
                <div class="activity flex flex-column align-center head">
                    <span class="text1">IP(지역)</span>
                    <span class="text1 date">로그인 일자</span>
                </div>
            </div>
            <div class="pages flex justify-center gap-sm" th:fragment="pages" data-pagination></div>
        </div>
        <div class="activityMenu flex flex-column gap-sm">
            <p class="title3Text text-center bold">활동</p>
            <div class="categories flex justify-end">
                <button class="category now">· 전체 보기</button>
                <button class="category">· 방명록</button>
                <button class="category">· 소설 댓글</button>
                <button class="category">· 블로그 댓글</button>
            </div>
            <div class="activities">
                <div class="activity flex flex-column align-center head">
                    <span class="text1">내용</span>
                    <span class="text1 date">작성일</span>
                </div>
                <a class="activity flex flex-column align-center">
                    <span class="text3 black2">방명록</span>
                    <div class="activityBottom flex align-center">
                        <span class="text1">내용</span>
                        <span class="text2 date">YYYY.MM.DD.</span>
                    </div>
                </a>
                <a class="activity flex flex-column align-center">
                    <span class="text3 black2">방명록</span>
                    <div class="activityBottom flex align-center">
                        <span class="text1">내용</span>
                        <span class="text2 date">YYYY.MM.DD.</span>
                    </div>
                </a>
            </div>
            <div class="pages flex justify-center gap-sm" th:fragment="pages" data-pagination></div>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>

    <script th:src="@{/js/account/user.js}"></script>
</body>
</html>