<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 회원 목록</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/account/user.js}"></script>
</head>
<body class="flex flex-column">
    <div id="nav"></div>

    <div id="toastWarp"></div>

    <div id="header"></div>

    <section class="flex flex-column align-center gap-xl">
        <p class="title1Text text-center bold">회원 목록</p>
        <div class="userListWrap flex flex-column gap-lg">
            <div class="userList flex flex-column gap-sm">
                <a class="card pd-md user flex flex-column gap-sm">
                    <button class="btn block">차단 해제</button>
                    <div class="userInfo flex flex-column-mov gap-sm">
                        <p class="title3Text bold">닉네임</p>
                        <p class="title3Text">닉네임</p>
                        <form name="nameForm" class="flex flex-column-mov gap-sm">
                            <input type="text" name="name">
                            <button class="btn" type="button" onclick="editName(this)">저장</button>
                        </form>
                        <button class="btn" onclick="nameToggle(this)">변경</button>
                    </div>
                    <div class="userInfo flex flex-column-mov gap-sm">
                        <p class="title3Text bold">ID</p>
                        <p class="title3Text">ID</p>
                    </div>
                    <div class="userInfo flex flex-column-mov gap-sm">
                        <p class="title3Text bold">MAIL</p>
                        <p class="title3Text">메일주소@nsver.com</p>
                    </div>
                    <div class="userInfo flex flex-column-mov gap-sm">
                        <p class="title3Text bold">가입일</p>
                        <p class="title3Text">YYYY.MM.DD.</p>
                    </div>
                    <div class="userInfo flex flex-column-mov gap-sm">
                        <p class="title3Text bold">차단 사유</p>
                        <p class="title3Text">병신</p>
                    </div>
                </a>
            </div>
            <div id="pages"></div>
        </div>
    </section>

    <div id="footer"></div>

    <script>
        fetch("/html/fragments/commons.html").then(res => res.text()).then(html =>
        {
            const temp = document.createElement("div");
            temp.innerHTML = html;

            document.getElementById("header").appendChild(temp.querySelector("header"));
            document.getElementById("footer").appendChild(temp.querySelector("footer"));
            document.getElementById("nav").appendChild(temp.querySelector("nav"));
            document.getElementById("toastWarp").appendChild(temp.querySelector(".toastWarp"));
        });
    </script>
</body>
</html>