<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 회원 목록</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-xl">
        <p class="title1Text text-center bold">회원 목록</p>
        <div class="userListWrap flex flex-column gap-lg">
            <div class="userList flex flex-column gap-sm"></div>
            <div class="pages flex justify-center gap-sm" th:fragment="pages" data-pagination></div>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>

    <script th:src="@{/js/account/user.js}"></script>
</body>
</html>