<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="container">
        <div class="headerTop flex justify-end align-center gap-sm">
            <th:block sec:authorize="isAnonymous()">
                <a class="text3 black2" th:href="@{/auth/login}">로그인</a>
                <a class="text3 black2" th:href="@{/auth/join}">회원가입</a>
                <a class="text3 black2" th:href="@{/auth/findAccount}">계정 찾기</a>
            </th:block>
            <th:block sec:authorize="hasRole('ADMIN')">
                <a class="text3 black2" th:href="@{/user/list}">회원 목록</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a class="text3 black2" th:href="@{/user/me}">내 정보</a>
                <a class="text3 black2" th:href="@{/auth/changePw}">비밀번호 변경</a>
                <a class="text3 black2" th:href="@{/auth/withdraw}">회원 탈퇴</a>
                <a class="text3 black2" href="#" onclick="logout(); return false;">로그아웃</a>
            </th:block>
        </div>
        <div class="headerBottom flex justify-between align-center">
            <a class="logo background" th:href="@{/}"></a>
            <div class="headerMenu bold flex gap-lg">
                <a class="title3Text" th:href="@{/board/portfolio}">PORTFOLIO</a>
                <a class="title3Text">NOVEL</a>
                <a class="title3Text" th:href="@{/board/blog}">BLOG</a>
                <a class="title3Text">GUESTBOOK</a>
            </div>
        </div>
        <button class="hamburger align-center justify-center" onclick="openDrawer()">☰</button>
        <div class="drawer flex-column gap-sm">
            <button class="hamburger flex align-center justify-center" onclick="closeDrawer()">X</button>
            <p class="text1"> <span id="authGreetingName" class="title2Text bold">비회원</span> 님 안녕하세요. </p>
            <div class="drawerMenu bold navy1 pd-md flex flex-column gap-xs">
                <th:block sec:authorize="isAnonymous()">
                    <a class="text1" th:href="@{/auth/login}">로그인</a>
                    <a class="text1" th:href="@{/auth/join}">회원가입</a>
                    <a class="text1" th:href="@{/auth/findAccount}">계정 찾기</a>
                </th:block>
                <th:block sec:authorize="hasRole('ADMIN')">
                    <a class="text1" th:href="@{/user/list}">회원 목록</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <a class="text1" th:href="@{/user/me}">내 정보</a>
                    <a class="text1" th:href="@{/auth/changePw}">비밀번호 변경</a>
                    <a class="text1" th:href="@{/auth/withdraw}">회원 탈퇴</a>
                    <a class="text1" href="#" onclick="logout(); return false;">로그아웃</a>
                </th:block>
            </div>
            <p class="text1 bold">MENU</p>
            <div class="drawerMenu bold navy1 pd-md flex flex-column gap-xs">
                <a class="title2Text" th:href="@{/board/portfolio}">PORTFOLIO</a>
                <a class="title2Text">NOVEL</a>
                <a class="title2Text" th:href="@{/board/blog}">BLOG</a>
                <a class="title2Text">GUESTBOOK</a>
            </div>
        </div>
    </div>
</header>

<footer th:fragment="footer">
    <div class="container flex flex-column gap-md">
        <div class="footerTop flex flex-column-mov gap-lg">
            <a class="logo background" th:href="@{/}"></a>
            <div class="footerTopMenu flex align-center gap-lg">
                <a class="text1">이용약관</a>
                <a class="text1">개인정보 처리방침</a>
                <a class="text1">청소년 보호 정책</a>
                <a class="text1">외주·협업 안내</a>
            </div>
        </div>
        <div class="snsList flex gap-sm justify-center">
            <a class="sns background" href="https://x.com/blankspace_rep" target="_blank"></a>
            <a class="sns background" href="https://github.com/blank09114" target="_blank"></a>
            <a class="sns background" href="https://crepe.cm/@blank0914" target="_blank"></a>
            <a class="sns background" href="https://kmong.com/@%EA%B3%B5%EB%B0%B1b1ank" target="_blank"></a>
        </div>
        <p class="text1">
            <strong>COPYRIGHT</strong> © 2026 BLANKSPACE. All rights reserved. <br>
            <strong>사업자 정보</strong> 상호 BLANKSPACE | 사업자등록번호 716-50-01088 | 개인정보 보호 책임자 박예린 <br>
            <strong>MAIL</strong> b1ank09114@gmail.com
        </p>
    </div>
</footer>

<nav class="flex flex-column" th:fragment="nav">
    <button class="navBtn" onclick="toScroll('up')"> ↑ </button>
    <button class="navBtn" onclick="toScroll('down')"> ↓ </button>
</nav>

<div class="toastWarp" th:fragment="toast">
    <div class="toast">
        <div class="toastContent flex align-center gap-xs">
            <span id="toastText" class="text1 left"></span>
            <button class="toastBtn text-center" onclick="closeToast()">X</button>
            <div class="progress"> <div class="progressBar"></div> </div>
        </div>
    </div>
</div>
</html>