<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="novelIntro card flex flex-column gap-sm pd-md" th:fragment="novelIntro(novelCard)">
    <div class="coverWrap flex justify-center"><img class="cover" th:src="${novelCard.coverUrl}" th:alt="${novelCard.name}"></div>
    <div class="novelInfo">
        <p class="text1 black2">
            <span th:text="${novelCard.type}"></span>
            <span th:if="${novelCard.type == '2차'}"> · </span>
            <span th:if="${novelCard.type == '2차'}" th:text="${novelCard.origin}"></span>
            <span> · </span>
            <span th:text="${novelCard.episodeCount}"></span><span>화</span>
            <span> · </span>
            <span th:text="${novelCard.end ? '완결' : '연재 중'}"></span>
        </p>
        <p class="title3Text bold" th:text="${novelCard.name}">제목</p>
        <p class="text1 intro" th:text="${novelCard.intro}">소개글</p>
    </div>
    <div class="btnsWrap" sec:authorize="hasRole('ADMIN')">
        <form th:action="@{/novel/{novelId}/end/toggle(novelId=${novelCard.novelId})}"
        method="post" style="display: inline;">
            <button type="submit" class="btn"
            th:text="${novelCard.end ? '연재로 전환' : '완결로 전환'}">
                완결로 전환
            </button>
        </form>
        <a class="btn" th:href="@{/novel/{novelId}/edit(novelId=${novelCard.novelId})}">정보 수정</a>
        <a class="btn" th:href="@{/novel/{novelId}/episode/form(novelId=${novelCard.novelId})}">신규 회차 등록</a>
        <a class="btn">신규 설정 등록</a>
        <form th:action="@{/novel/{novelId}/delete(novelId=${novelCard.novelId})}" method="post" style="display:inline;"
        onsubmit="return confirm('정말 삭제할까요?\\n회차/설정/댓글까지 모두 삭제됩니다.');">
            <button type="submit" class="btn">삭제</button>
        </form>
    </div>
</div>
</html>