<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="novelIntro card flex flex-column gap-sm pd-md" th:fragment="novelIntro">
    <div class="coverWrap flex justify-center"> <img class="cover"> </div>
    <div class="novelInfo">
        <p class="text1 black2">2차 · 나루토 · 100화 · 연재 중</p>
        <p class="title3Text bold">제목</p>
        <p class="text1 intro">소개글</p>
    </div>
    <div class="btnsWrap">
        <a class="btn">완결로 전환</a>
        <a class="btn">정보 수정</a>
        <a class="btn">신규 회차 등록</a>
        <a class="btn">신규 설정 등록</a>
        <a class="btn">삭제</a>
    </div>
</div>
</html>