<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|BLANKSPACE - ${novelCard.name} - ${world.name}|"></title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <div class="postConetentWarp pd-md">
            <div class="postInfo">
                <p class="text1" th:text="${world.category}"></p>
                <p class="title2Text bold" th:text="${world.name}"></p>
                <p class="text1 black2" th:text="${#temporals.format(world.createdAt, 'yyyy.MM.dd')}"></p>
            </div>
            <div class="postConetent" th:utext="${world.content}"></div>
            <div class="btnsWrap" sec:authorize="hasRole('ADMIN')">
                <a class="btn">수정</a>
                <button class="btn">삭제</button>
            </div>
        </div>
        <div class="btnsWrap post">
            <a class="btn" th:if="${prevWorld != null}"
            th:href="@{/novel/{novelId}/world/{worldId}(novelId=${novelId}, worldId=${prevWorld.id})}">
                이전 글
            </a>
            <span class="btn disabled" th:if="${prevWorld == null}">첫 글</span>
            <a class="btn" th:href="@{/novel/{novelId}/world(novelId=${novelId})}">
                목록으로
            </a>
            <a class="btn" th:if="${nextWorld != null}"
            th:href="@{/novel/{novelId}/world/{worldId}(novelId=${novelId}, worldId=${nextWorld.id})}">
                다음 글
            </a>
            <span class="btn disabled" th:if="${nextWorld == null}">마지막 글</span>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>