<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설 제목 - 설정</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/novel/worldList.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section id="worldListPage" class="flex flex-column align-center gap-lg" th:attr="data-novel-id=${novelId}">
        <div th:replace="fragments/novelIntro :: novelIntro(${novelCard})"></div>
        <a class="btn" style="width: 100%;" th:href="@{/novel/{novelId}(novelId=${novelId})}">
            회차 보기
        </a>
        <div class="categories flex justify-end" id="worldCategories">
            <button type="button" class="category now" data-category="">· 전체 보기</button>
            <button type="button" class="category" data-category="세계관">· 세계관</button>
            <button type="button" class="category" data-category="캐릭터">· 캐릭터</button>
            <button type="button" class="category" data-category="기타">· 기타</button>
        </div>
        <div class="list world" id="worldList"></div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>