<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 에러!</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body class="flex align-center justify-center errorBody">
    <div class="errorBox pd-md">
        <p class="title1Text text-center bold">· ERROR ·</p>
        <p class="code text-center bold" th:text="${code}"></p>
        <p class="title2Text text-center bold" th:text="${message}"></p>
        <a class="btn" th:href="@{/}">메인 페이지로 가기</a>
    </div>
</body>
</html>