<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설 등록</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/global/form.js}"></script>
    <script th:src="@{/js/novel/novel.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex justify-center align-center">
        <form id="postForm" class="pd-md flex flex-column gap-sm" th:object="${form}" th:action="${editMode}
        ? @{/novel/{novelId}/edit/submit(novelId=${novelId})} : @{/novel/submit}" method="post">
            <div class="postInfo flex flex-column gap-xs">
                <div class="inputs flex flex-column-mov gap-xs">
                    <select class="select" name="type" th:field="*{type}" onchange="onTypeChange(this)">
                        <option value="1차">1차</option>
                        <option value="2차">2차</option>
                    </select>
                    <input type="text" name="origin" placeholder="원작" th:field="*{origin}">
                </div>
                <input type="text" name="name" placeholder="제목" th:field="*{name}">
                <div class="inputs flex flex-column-mov gap-xs">
                    <input type="text" name="imgNameInput" placeholder="표지" readonly>
                    <button class="btn select" type="button" onclick="imgInputControll('cover','coverUrl')">표지 업로드</button>
                    <input type="hidden" name="coverUrl" th:field="*{coverUrl}">
                    <input type="file" name="imgInput" accept="image/*" hidden>
                </div>
            </div>
            <textarea name="intro" placeholder="소개글" th:field="*{intro}"></textarea>
            <div class="btnsWrap"> <button type="submit" class="btn" th:text="${editMode} ? '수정' : '등록'"></button></div>
        </form>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>