<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <p class="title1Text bold text-center boardName">NOVEL</p>
        <div class="categories flex justify-end">
            <button class="category now">· 전체 보기</button>
            <button class="category">· 1차</button>
            <button class="category">· 2차</button>
        </div>
        <a class="btn" style="width: 100%;">소설 등록</a>
        <div class="novelList flex flex-column gap-lg">
            <a class="card pd-md flex gap-md">
                <img class="cover">
                <div class="novelInfo">
                    <p class="text1 black2">2차 · 나루토 · 100화 · 연재 중</p>
                    <p class="title3Text bold">제목</p>
                    <p class="text1">소개글</p>
                </div>
            </a>
        </div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>