<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLANKSPACE - 소설</title>
    <link rel="icon" th:href="@{/img/logo/icon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/global/commons.js}"></script>
    <script th:src="@{/js/novel/novelList.js}"></script>
</head>
<body class="flex flex-column">
    <nav th:replace="fragments/commons :: nav"></nav>

    <div th:replace="fragments/commons :: toast"></div>

    <header th:replace="fragments/commons :: header"></header>

    <section class="flex flex-column align-center gap-lg">
        <p class="title1Text bold text-center boardName">NOVEL</p>
        <div class="categories flex justify-end">
            <button class="category now" type="button" data-type="">· 전체 보기</button>
            <button class="category" type="button" data-type="1차">· 1차</button>
            <button class="category" type="button" data-type="2차">· 2차</button>
        </div>
        <a class="btn" style="width: 100%;" th:href="@{/novel/form}" sec:authorize="hasRole('ADMIN')">소설 등록</a>
        <div id="novelList" class="novelList flex flex-column gap-lg"></div>
    </section>

    <footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>